body{
    background:url("lotus temple 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
a:hover{
    color:rgba(255, 0, 0, 0.297);
    transition:color 0.3s ease;
}
table:hover{
    transform:scale(1.20);
    transition:trnasform 0.5s ease;
}